.tlo{
    background-color: antiquewhite;
}

body{
    background-image: url("tapeta.jpg");
    text-align: center;
}

footer{
    background-color: aquamarine;
    color: blue;
    font-family: sans-serif;
    font-size: xx-small;
}

header{
    grid-area: header;
    font-size: x-large;
}

main{
    grid-area: main;
}

.startGrid{
    display: grid;
    width: 80%;
    grid-row-gap: 15px;
    margin: auto;
    grid-template-areas:
            "header"
            "main";
}

#quiz{
    display: none;
}

#wstep{
    grid-area: wstep;
}

#stan{
    grid-area: stan;
}

#pytanie{
    grid-area: pytanie;
}

#odpowiedz{
    grid-area: odpowiedz;
}
#wstecz{
    grid-area: wstecz;
}

#dalej{
    grid-area: dalej;
}

#anuluj{
    grid-area: anuluj;
}
#skoncz {
    grid-area: skoncz;
}

.quizGrid{
    display: grid;
    grid-row-gap: 15px;
    margin: auto;
    grid-template-areas:
            "wstep stan"
            "pytanie odpowiedz"
            "wstecz dalej"
            "anuluj skoncz";
}