html
    head
        title= 'ERROR 404'
        style
            include style.css
    body
        h1="There is nothing here - ERROR 404"
        img(class='bigmem' src='https://wompampsupport.azureedge.net/fetchimage?siteId=7575&v=2&jpgQuality=100&width=700&url=https%3A%2F%2Fi.kym-cdn.com%2Fentries%2Ficons%2Ffacebook%2F000%2F019%2F277%2Fconfusedtravolta.jpg')