footer {

    background-color: aquamarine;
  
    color: blue;
  
    font-family: sans-serif;
  
    font-size: 30px;
  
    width: 50%;

  
  }

table, th, td {
    border: 2px solid red;
    border-collapse: collapse;
    text-align: left;

  }

th {
    font-weight: 100;
    font-style: italic;
}

body{
    text-align: center;
}

h1{
    font-size: xx-large;
    font-weight: bold;
}

p{
    font-size: large;
    font-weight: bold;
}

#pierwszy {
    background-color: khaki;   
    padding: 35px;
    border: 5px solid orange;
}

#drugi{
    background-color: lightcoral;    
    padding: 20px;
    border: 5px solid red;
}

#trzeci{
    z-index: 1;
    top: 420px;
    width: 200px;
    background-color: peru;
    position: absolute;
}

img{
    display: block;
}

#logo{
    width: 100px;
    height: 100px;
}

#zdjec{
    margin-top: 10px;
    position: relative;
}

#ber{
    left: 60%;
    position: absolute;
    width: 40%;
    height: auto;
    
}

#waw{
    right: 60%;
    position: absolute;
    width: 40%;
    height: auto;
}

span{
    font-size: larger;
    font-weight: bold;
    margin-right: 10%;
    margin-left: 10%;
}

h2{
    margin-top: 5%;
    padding: 20px;
}

.secound{
    margin-top: 30%;
    background-color: khaki;   
    border: 5px solid orange;
}

.third{
    background-color: rgb(216, 92, 20);   
    border: 5px solid rgb(247, 45, 10);
}

.fourth{
    background-color: lightcoral;    
    border: 5px solid red;
}

#sam{
    text-align: center;
    margin-left: auto;
margin-right: auto;
}

#powrot{
    margin-right: 80%;
    padding: 10px;
    background-color: salmon;
    border: 5px solid black;
}